<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Stock Monitoring - SpeedIt</title>
    <section layout:fragment="pageStyles">
        <link rel="stylesheet" th:href="@{/css/stock-monitoring.css}">
        <th:block layout:fragment="customStyles"></th:block>
    </section>
</head>
<body>
    <section layout:fragment="content">
        <th:block layout:fragment="monitor-title"></th:block>

        <div class="monitor-container">
            <div class="level-1-panel">
                <th:block layout:fragment="level1Content">
                    </th:block>
            </div>

            <div class="main-content-area">
                <div class="level-2-panel">
                    <th:block layout:fragment="level2Content">
                        </th:block>
                </div>

                <div class="level-3-panel">
                    <th:block layout:fragment="level3Content">
                        </th:block>
                </div>
            </div>
        </div>
    </section>

    <section layout:fragment="pageScripts">
        <th:block layout:fragment="customScripts"></th:block>
    </section>
</body>
</html>